.create-form {
  min-width: 150px;
  width: 100%;
}

.field-full-width {
  width: 100%;
}

table {
  width: 100%;
  font-size: 8px;
}

.mat-column-right {
  text-align: center;
}

.parent {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
}

.mat-paginator.paginator--centered {
  display: flex;
  justify-content: center;
}
