<mat-card>
    <section class="mat-typograpghy">
        <h3>Issue - {{issue.Title}}</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
<div class="row">
  <div class="col col-12 col-lg-4">
    Responsible <br>
    {{issue.Responsible}}
    <br><br>
    Customer <br>
    {{issue.Customer.Name}}
    <br><br>
    Severity <br>
    {{issue.Priority}}

  </div>
    <div class="col col-12 col-lg-4">
        Description
        <br><br>
        {{issue.Description}}
    </div>   
</div>
</mat-card>    

