/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

h2 {
    font-size: 1.5em;
}

@media (min-width: 768px) {
    html {
    font-size: 14px;
    }

    h2 {
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    .btn {
        padding: 2px;
        font-size: 12px;
    }

    .btn-sm {
        padding: 2px;
        font-size: 12px;
    }

    table {
        font-size: 12px;
    }

    .frame {
        margin: 0px;
        border: 1px solid silver;
        border-radius: 10px;
        padding: 10px 5px 10px 5px !important;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.container {
    max-width: 1500px;
}

.frame {
    margin: 0px;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 20px;
    
}

.column-right {
    text-align: right;
}

table a:hover {
    text-decoration: none;
}