.navbar {
  background-color: rgba(53, 63, 72, 1) !important;
  /*background-color: steelblue;*/
  color: white;
}

.menu-icon {
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 7px;
  color: rgba(53, 63, 72, 1);
}

.arrow-box {
  width: 25px;
  margin-top: 10px;
  margin-left: -1px;
  border: 1px solid lightgrey;
  border-left: 1px solid white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  color: gray;
}

.mat-card-top {
  height: 40px;
  padding: 5px 5px 5px 5px;
  margin-top: -35px;
  /*margin-bottom: -10px;*/
  margin-left: 40px;
  margin-right: 40px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
