<mat-toolbar>
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <h1>MEAN Stack</h1>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" disableClose="true">

    <mat-nav-list>
      <a mat-list-item [routerLink]="'/issues'" skipLocationChange> Issues </a>
      <a mat-list-item [routerLink]="'/create'" skipLocationChange> New Issue </a>
      <a mat-list-item [routerLink]="'/files'" skipLocationChange> Files </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="arrow-box" style="margin-bottom: -15px;">
      <fa-icon class="fa-arrow-right" [icon]="faCaretRight" size="2x" (click)="open()" *ngIf="navOpen" style="margin-left: 8px;">Menu</fa-icon>
      <fa-icon class="fa-arrow-left" [icon]="faCaretLeft" size="2x" (click)="close()" *ngIf="!navOpen" style="margin-left: 5px;">Menu</fa-icon>
    </div>
    <!-- <mat-card class="mat-card-top">Test</mat-card> -->

    <div style="height: 88vh; margin-left: 30px; margin-right: 30px;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
