<!--<mat-toolbar>
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <span>Atlas Copco CC Nordic - Service Management</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  <span style="font-size: 14px;">{{this.adalService.userInfo.userName}} - {{role}}</span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon" (click)="logOut()">logout_user</mat-icon>

</mat-toolbar>-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>-->
    <a class="navbar-brand" href="#">Service Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link active" href="#">
            <mat-icon class="" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
            
          </a>

        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="#">
            {{this.adalService.userInfo.userName}} - {{role}}
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="#">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon" (click)="logOut()">logout_user</mat-icon>
          </a>

        </li>



      </ul>

    </div>
  </nav>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" disableClose="true">

    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Example user verified icon">home</mat-icon>Dashboard </a>
      <a mat-list-item [routerLink]="'/files'"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Example user verified icon">insert_drive_file</mat-icon>Files </a>
      <a mat-list-item [routerLink]="'/'"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Example user verified icon">help</mat-icon>Knowledge DB </a>
      <a mat-list-item [routerLink]="'/issues'"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Example user verified icon">report_problem</mat-icon>Issues </a>
      <a mat-list-item [routerLink]="'/'"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Example user verified icon">check_circle</mat-icon>Actions </a>
      <a mat-list-item [routerLink]="'/'"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Example user verified icon">build</mat-icon>Projects </a>
      <a mat-list-item [routerLink]="'/customers'"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Example user verified icon">assignment_ind</mat-icon>Customers </a>
      <a mat-list-item [routerLink]="'/products'"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Example user verified icon">dns</mat-icon>Products </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="row">
      <div class="col col-12 col-lg-1">
        <div class="arrow-box">
          <!--<mat-icon (click)="sidenav.toggle()">menu</mat-icon>-->
          <fa-icon class="fa-arrow-right" [icon]="faCaretRight" size="2x" (click)="open()" *ngIf="navOpen" style="margin-left: 8px;">Menu</fa-icon>
          <fa-icon class="fa-arrow-left" [icon]="faCaretLeft" size="2x" (click)="close()" *ngIf="!navOpen" style="margin-left: 5px;">Menu</fa-icon>
        </div>

      </div>

    </div>
    <!-- <mat-card class="mat-card-top">Test</mat-card> -->
    <div style="height: 88vh; margin-left: 30px; margin-right: 30px; margin-top: -20px;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


