<mat-card>
    <section class="mat-typograpghy">
        <h3>Issues</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="issues">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
        </ng-container>
        <ng-container matColumnDef="responsible">
                <th mat-header-cell *matHeaderCellDef>Responsible</th>
                <td mat-cell *matCellDef="let element"> {{element.Responsible}} </td>
        </ng-container>
        <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef>Customer</th>
                <td mat-cell *matCellDef="let element"> {{element.Customer.Title}} </td>
        </ng-container>
        <ng-container matColumnDef="severity">
                <th mat-header-cell *matHeaderCellDef>Severity</th>
                <td mat-cell *matCellDef="let element"> {{element.Severity}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
                <td mat-cell *matCellDef="let element" class="mat-column-right">
                    <button mat-button color="primary" (click)="detailsIssue(element._id)">Details</button>
                    <button mat-button color="primary" (click)="editIssue(element._id)">Edit</button>
                    <button mat-button color="primary" (click)="deleteIssue(element._id)">Delete</button>
                </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>     
