.material-icons.md-24 {
  font-size: 36px;
}

.row {
  margin-bottom: 20px;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.mat-column-right {
  text-align: center;
}

.parent {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
}

.mat-paginator.paginator--centered {
  display: flex;
  justify-content: center;
}


